body{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b59fd9, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b59fd9, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form_label{
  color: #785fa0 !important;
  font-weight: bolder !important;
}

.form_input{
  height: 30px !important;
  width: 100% !important;
}

/*Registration CSS - Start*/
.form-registration{
  background-color: white;
  border-radius: 5px;
  width: 55% !important;
  margin: 0px 0px 0px 316px;
}

.form-registration-body{
  margin: 35px 17px 0px 21px;
}

.form-registration-body > *{
  padding: 5px;
}

.registration_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}

.registration_footer{
  text-align: left;
  padding: 20px 10px;
}

.btn_register{
  height: 40px;
  width: 100%;
  background-color: #785fa0;
  color: white;
  font-size: large;
}

.header{
  border-radius: 5px;
  color: #785fa0;
}

.footer{
  text-align: left;
  padding: 20px 10px;
}

.btn{
  height: 40px;
  width: 90%;
  background-color: #785fa0;
  color: white;
  font-size: large;
}

.already-account{
  color: cadetblue;
  font-weight: bold;
  padding-top: 10px;
}
/*Registration CSS - End*/

/*Login CSS - Start*/
.form-login{
  background-color: white;
  width: 460px;
  height: 385px;
  border-radius: var(--bs-border-radius);
  margin: 135px 8px 6px 561px;
}

.formsection{
  text-align: left;
  font-size: larger;
  color: #785fa0;
  font-weight: 700;
}

.form-login-body{
  text-align: left;
  padding: 20px 22px;
}

.btnclr{
  background-color: var(#785fa0) !important;
}
.form-login-body > *{
  padding: 5px;
}

.para-2{
  color: #785fa0;
  font-size: large;
  font-weight: bolder;
  margin: 10px;
}

.signup-box{
  background-color: white;
  width: 460px;
  border-radius: var(--bs-border-radius);
  margin: 37px 8px 6px 561px;
}

.signup-box-body{
  text-align: left;
  padding: 20px 22px;
}

.signup-box-body > *{
  padding: 5px;
}

/*Login CSS - End*/

/*Student Registration - Start*/
.form-student-registration{
  background-color: white;
  border-radius: 5px;
  width: 50%;
  margin: 130px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-student-registration-body{
  text-align: left;
  padding: 20px 10px;
}

.form-student-registration-body > *{
  padding: 5px;
}

.student_registration_header{
  text-align: center;
  border-radius: 5px;
  border: solid black 2px;
  color: white;
  background-color: #785fa0;
  padding: 7px 5px;
  width: 97%;
}

.btn_student_save, .btn_student_cancel{
  height: 35px;
  width: 47%;
  background-color: #785fa0;
  font-size: large;
  border-radius : 0.375rem;
}

.btn_student_save:hover {
  border-color: var(--bs-btn-hover-border-color);
  color: white;
}

.img-wrap{
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.img-upload:hover:before{
  opacity: 1;
}

img {
  width: auto;
  height: 100%;
}
/*Student Registration - End*/

/*Sidebar - Start*/
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Sidebar_container{
  display: flex !important;
  width: 100% !important;
}

main{
  width: 100%;
  padding: 20px;
}

.sidebar{
  background: #785fa0;
  color: antiquewhite;
  height: 300vh;
  width: 300px;
  transition: all 0.5s;
}

.topSection{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo{
  font-size: 30px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link{
  display: flex !important;
  color: antiquewhite !important;
  padding: 10px 15px !important;
  gap: 15px !important;
  transition: all 0.5s !important;
  text-decoration: none !important;
}

.link:hover{
  background: #bdc3c7 !important;
  color: black !important;
  transition: all 0.5s !important;
}

.active{
  background: #bdc3c7;
  color: black;
}

.icon .linkText{
  font-size: 20px;
}
/*Sidebar - End*/

/*Admission Form - Start*/
.form-admission{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
}

.form-admission-body{
  text-align: left !important;
  padding: 20px 10px !important;
}

.form-admission-body > *{
  padding: 5px !important;
}

.admission_header{
  text-align: center;
  font-size:xx-large;
  color: #785fa0;
}

.admission_footer{
  text-align: left;
  padding: 20px 10px;
}

.admission_btn{
  height: 40px;
  width: 90%;
  background-color: #785fa0;
  color: white;
  font-size: large;
}

.admission_border{
  border: solid #785fa0 1px !important;
  width: 96% !important;
}
/*Admission Form - End*/

/*Student Information - Start*/
.form-studentInformation{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-studentInformation-body{
  text-align: left;
  padding: 20px 10px;
}

.form-studentInformation-body > *{
  padding: 5px;
}

.studentInformation_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}
/*Student Information - End*/

/*Payment - Start*/
.form-payment{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-payment-body{
  text-align: left;
  padding: 20px 10px;
}

.form-payment-body > *{
  padding: 5px;
}
.payment_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}
.payment_border{
  border-bottom: solid #785fa0 1px !important;
  width: 96% !important;
}

.payment_footer{
  text-align: left;
  padding: 20px 10px;
}

.btn_payment_proceed, .btn_payment_cancel{
  height: 35px;
  width: 47%;
  background-color: #785fa0;
  color: white;
  font-size: large;
}

.studentName_label, .registrationNumber_label{
  color: #785fa0;
  font-size: larger;
  font-weight: bold;
}
/*Payment - End*/

/*Document - Start*/
.form-document{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-document-body{
  text-align: left;
  padding: 20px 10px;
}

.form-document-body > *{
  padding: 5px;
}

.document_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}

.btn_add_document{
  height: 35px;
  width: 50%;
  background-color: #785fa0;
  color: white;
  font-size: large;
  text-align: center;
}

.university_banner{
  height: 150px;
  border-radius: var(--bs-border-radius);
  background-color: #785fa0;
}

@import url('https://fonts.googleapis.com/css?family=Alegreya+SC');
.universityheader{
  font-family: "Alegreya SC", serif;
  text-align: center;
  font-size: 50px;
  color: rgb(251 255 0);
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  float : right;
  margin: 40px 460px 0px 0px;
}

.marq{
  font-family: "Adamina", serif;
  text-align: center;
  font-size: 30px;
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  color: rgb(251 255 0);
}

.img_sec{
  border-radius: 45px;
  margin-left: 37%;
  width: 127px;
}
/*Banner - End*/

/*Certificate Verification - Start*/
.form-certificateVerification{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-certificateVerification-body{
  text-align: left;
  padding: 20px 10px;
}

.form-certificateVerification-body > *{
  padding: 5px;
}

.certificateVerification_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}

.btn_certificateVerification_view{
  height: 35px;
  width: 70%;
  background-color: #785fa0;
  color: white;
  font-size: large;
  text-align: center;
}

.btn_certificateVerification_accept, .btn_certificateVerification_reject{
  height: 35px;
  width: 10%;
  background-color: #785fa0;
  color: white;
  font-size: large;
  text-align: center;
}
/*Certificate Verification - End*/
/*Evaluation - Start*/
.form-evaluation{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-evaluation-body{
  text-align: left;
  padding: 20px 10px;
}

.form-evaluation-body > *{
  padding: 5px;
}

.evaluation_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}
/*Evaluation - End*/
/*Department - Start*/
.form-department{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-department-body{
  text-align: left;
  padding: 20px 10px;
}

.form-department-body > *{
  padding: 5px;
}

.department_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}
/*department - End*/

/*College Info - Start*/
.form-collegeInfo{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-collegeInfo-body{
  text-align: left;
  padding: 20px 10px;
}

.form-collegeInfo-body > *{
  padding: 5px;
}

.collegeInfo_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}

.btn_collegeInfo_Approve{
  height: 35px;
  width: 100%;
  background-color: #785fa0;
  color: white;
  font-size: large;
  text-align: center;
}

.the-legend {
  border-style: none;
  border-width: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  width: auto;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
}
.the-fieldset {
  border: 1px solid #e0e0e0;
  padding: 10px;
}
/*College Info - End*/

/*Affiliated Colleges - Start*/
.form-affiliatedColleges{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-affiliatedColleges-body{
  text-align: left;
  padding: 20px 10px;
}

.form-affiliatedColleges-body > *{
  padding: 5px;
}

.affiliatedColleges_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}

.programspnl {
  padding: 1rem 1.5rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.programspnl h4 {
  text-transform: none;
  line-height: 1.5;
}
.programspnl p {
  color: white;
  margin-bottom: 0;
  margin: 0rem 0rem 0rem 1.5rem;
}
.programspnl header {
  display: flex;
  align-items: center;
}
.programspnl header h4 {
  margin-bottom: 0;
}
.programspnl-title {
  cursor: pointer;
  color: white;
}
.btnprogram {
  background-color: rgb(120, 95, 160) !important;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--clr-red-special);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

.programlist{
  font-family: inherit;
  color: white;
  font-size: x-large;
  line-height: 2em;
}
/*College Info - End*/
/*Affiliated Colleges - End*/

/*Syllabus - Start*/
.form-syllabus{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-syllabus-body{
  text-align: left;
  padding: 20px 10px;
}

.form-syllabus-body > *{
  padding: 5px;
}

.syllabus_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}
/*Syllabus - End*/

/*StudentAttendance - Start*/
.form-studentAttendance{
  background-color: white;
  border-radius: 5px;
  width: 100% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-studentAttendance-body{
  text-align: left;
  padding: 20px 10px;
}


.studentAttendance_header{
  text-align: left;
  font-size: 5pt;
  color: #785fa0;
}
.studentAttendance_th{
width:100%;
}
/*StudentAttendance - End*/