body{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b59fd9, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b59fd9, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form_label{
  width: 40% !important;
  color: #785fa0 !important;
  font-size: large !important;
  font-weight: bolder !important;
}

.form_input{
  height: 30px !important;
  width: 100% !important;
}

/*Registration CSS - Start*/
.form-registration{
  background-color: white;
  border-radius: 5px;
  width: 500px;
  margin: 130px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-registration-body{
  text-align: left;
  padding: 20px 10px;
}

.form-registration-body > *{
  padding: 5px;
}

.header{
  text-align: center;
  border-radius: 5px;
  border: solid black 2px;
  color: white;
  background-color: #785fa0;
  padding: 7px 5px;
  width: 90%;
}

.footer{
  text-align: left;
  padding: 20px 10px;
}

.btn{
  height: 40px;
  width: 90%;
  background-color: #785fa0;
  color: white;
  font-size: large;
}

.already-account{
  color: cadetblue;
  font-weight: bold;
  padding-top: 10px;
}
/*Registration CSS - End*/

/*Login CSS - Start*/
.form-login{
  background-color: white;
  border-radius: 5px;
  width: 500px;
  margin: 130px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-login-body{
  text-align: left;
  padding: 20px 10px;
}

.form-login-body > *{
  padding: 5px;
}
/*Login CSS - End*/

/*Student Registration - Start*/
.form-student-registration{
  background-color: white;
  border-radius: 5px;
  width: 50%;
  margin: 130px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-student-registration-body{
  text-align: left;
  padding: 20px 10px;
}

.form-student-registration-body > *{
  padding: 5px;
}

.student_registration_header{
  text-align: center;
  border-radius: 5px;
  border: solid black 2px;
  color: white;
  background-color: #785fa0;
  padding: 7px 5px;
  width: 97%;
}

.btn_student_save, .btn_student_cancel{
  height: 35px;
  width: 47%;
  background-color: #785fa0;
  color: white;
  font-size: large;
}

.img-wrap{
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.img-upload:hover:before{
  opacity: 1;
}

img {
  width: auto;
  height: 100%;
}
/*Student Registration - End*/

/*Sidebar - Start*/
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Sidebar_container{
  display: flex !important;
  width: 100% !important;
}

main{
  width: 100%;
  padding: 20px;
}

.sidebar{
  background: #785fa0;
  color: antiquewhite;
  height: 300vh;
  width: 300px;
  transition: all 0.5s;
}

.topSection{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo{
  font-size: 30px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link{
  display: flex;
  color: antiquewhite;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover{
  background: #bdc3c7;
  color: black;
  transition: all 0.5s;
}

.active{
  background: #bdc3c7;
  color: black;
}

.icon .linkText{
  font-size: 20px;
}
/*Sidebar - End*/

/*Admission Form - Start*/
.form-admission{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-admission-body{
  text-align: left !important;
  padding: 20px 10px !important;
}

.form-admission-body > *{
  padding: 5px !important;
}

.admission_header{
  text-align: center;
  font-size:xx-large;
  color: #785fa0;
}

.admission_footer{
  text-align: left;
  padding: 20px 10px;
}

.admission_btn{
  height: 40px;
  width: 90%;
  background-color: #785fa0;
  color: white;
  font-size: large;
}

.admission_border{
  border: solid #785fa0 1px !important;
  width: 96% !important;
}
.fieldRowPadding{
  padding-top: 0.5%;
}
/*Admission Form - End*/

/*Student Information - Start*/
.form-studentInformation{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-studentInformation-body{
  text-align: left;
  padding: 20px 10px;
}

.form-studentInformation-body > *{
  padding: 5px;
}

.studentInformation_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}
/*Student Information - End*/

/*Payment - Start*/
.form-payment{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-payment-body{
  text-align: left;
  padding: 20px 10px;
}

.form-payment-body > *{
  padding: 5px;
}
.payment_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}
.payment_border{
  border: solid #785fa0 1px !important;
  width: 96% !important;
}

.payment_footer{
  text-align: left;
  padding: 20px 10px;
}

.btn_payment_proceed, .btn_payment_cancel{
  height: 35px;
  width: 47%;
  background-color: #785fa0;
  color: white;
  font-size: large;
}
/*Payment - End*/

/*Document - Start*/
.form-document{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-document-body{
  text-align: left;
  padding: 20px 10px;
}

.form-document-body > *{
  padding: 5px;
}

.document_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}

.btn_add_document, .btn_add_document_save, .btn_add_document_close{
  height: 35px;
  width: 12%;
  background-color: #785fa0;
  color: white;
  font-size: large;
  text-align: center;
}
/*Document - End*/

/*Banner - Start*/
.university_banner{
  height: 150px;
  border-radius: var(--bs-border-radius);
  background-color: #785fa0;
}

@import url('https://fonts.googleapis.com/css?family=Alegreya+SC');
.universityheader{
  font-family: "Alegreya SC", serif;
  text-align: center;
  font-size: 60px;
  color: rgb(251 255 0);
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  float : right;
  margin-right: 26%;
}

.marq{
  font-family: "Adamina", serif;
  text-align: center;
  font-size: 30px;
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  color: rgb(251 255 0);
}
/*Banner - End*/

/*Department - Start*/
.form-department{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-department-body{
  text-align: left;
  padding: 20px 10px;
}

.form-department-body > *{
  padding: 5px;
}

.department_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}
/*department - End*/

/*Evaluation - Start*/
.form-evaluation{
  background-color: white;
  border-radius: 5px;
  width: 96% !important;
  margin: 0px auto;
  padding: 20px;
  padding-left: 50px;
}

.form-evaluation-body{
  text-align: left;
  padding: 20px 10px;
}

.form-evaluation-body > *{
  padding: 5px;
}

.evaluation_header{
  text-align: center;
  font-size: xx-large;
  color: #785fa0;
}
/*Evaluation - End*/

